header h1{
    background: url("bg.jpg") left / auto 100% no-repeat, url("bg.jpg") right / auto 100% no-repeat;
}
.root{
    font-size: larger;
}
img.main-image{
width: 320px;
}
img.additional-image{
    width: 190px;
}