{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %} Главная{% endblock title %} - Доска обьявлений</title>
    {% bootstrap_css %}
    <link rel='stylesheet' type='text/css' href='{% static "main/style.css" %}'>
    {% bootstrap_javascript jquery='slim' %}
</head>
<body class="container-fluid">
    <header class="mb-6">
        <h1 class="display-1 text-center">Обьявления</h1>
    </header>
    <div class="row">
        <ul class="col nav justify-content-end border">
            <li class="nav-item">
                <a href="{% url 'main:register' %}" class="nav-link">Регистрация</a>
            </li>
        {% if user.is_authenticated %} 
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle='dropdown'
                role="button" aria-haspopup="true" aria-expanded="false">Профиль</a>
                <div class="dropdown-menu">
                    <a href="{% url 'main:profile' %}" class="dropdown-item">Мои обьявления</a>
                    <a href="{% url 'main:profile_change' %}" class="dropdown-item">Изменить личные данные</a>
                    <a href="{% url 'main:password_change' %}" class="dropdown-item">Изменить пароль</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'main:logout' %}" class="dropdown-item">Выйти</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'main:profile_delete' %}" class="dropdown-item">Удалить</a>
                </div>
            </li>
        {% else %} 
            <li class="nav-item">
                <a href="{% url 'main:login' %}" class="nav-link">Вход</a>
            </li>
        {% endif %} 
        </ul>
    </div>
    <div class="row">
        <nav class="col-md-auto nav flex-column border">
            <a href="{% url 'main:index' %}" class="nav-link root">Главная</a>
            {% for rubric in rubrics %} 
                {% ifchanged rubric.super_rubric.pk %} 
                    <span class="nav-link root font-weight-bold">
                    {{ rubric.super_rubric.name }}
                    </span>
                {% endifchanged %} 
            {% endfor %} 
                <a href="{% url 'main:other' page='about' %}" class="nav-link">О сайте</a>
        </nav>
        <section class="col border py-2">
            {% bootstrap_messages %} 
            
            {% block content %}
                
            {% endblock content %}        
        </section>
    </div>
    <footer class="mt-3">
        <p class="text-right font-italic">&copy; читатели.</p>
    </footer>
    
</body>
</html>