{% extends 'layout/base.html' %}

{% block title %}
    О сайте
{% endblock title %}

{% block content %}
    <h2>О сайте</h2>
    <p>Сайт для публикации обьявлений</p>
    <p>Все права на публикации принадлежат их авторам</p>
    <p><h6>При создании сайта использованы рекомендации книни Django3.0 Дронова</h6></p>
{% endblock content %}
    
    