{% extends 'layout/base.html' %}

{% block title %}
    Активация выполнена
{% endblock title %}

{% block content %}
    <h2>Активация</h2>
    <p>Пользователь с таким именем успешно активирован</p>
    <p><a href="{% url 'main:login' %}">Войти на сайт</a></p>
{% endblock content %}
    