{% extends 'layout/base.html' %}

{% block title %}
    Ошибка активации
{% endblock title %}

{% block content %}
    <h2>Активация</h2>
    <p>Активация пользователя с таким именем прошла неудачно</p>
    <p><a href="{% url 'main:register' %}">Зарегистрироваться еще раз</a></p>
{% endblock content %}
    
    