{% extends 'layout/base.html' %}
{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}


{% block title %}
    {{ rubric }}
{% endblock title %}

{% block content %}
    <h1 class="mb-2">{{ rubric }}</h1>
    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col">&nbsp;</div>
            <form action="" class="col-md-auto form-inline">
                {% bootstrap_form form show_label=False %} 
                {% bootstrap_button content='Искать' button_type='submit' %} 
            </form>
        </div>
    </div>
    { if bbs %} 
        <ul class="list-unstyled">
            {% for bb in bbs %} 
                <li class="media my-5 p-3 border">
                    {% url 'main:detail' rubric_pk=rubric.pk pk=bb.pk as url %} 
                    <a href="{{ url }}{{ all }}">
                        {% if bb.image %} 
                            <img src="{% thimbnail bb.image 'default' %}" alt="image" class="mr-3">
                        {% else %} 
                            <img src="{% static 'main/empty.jpg' %}" alt="empty" class="mr-3">
                        {% endif %} 
                    </a>
                    <div class="media-body">
                        <h3>
                            <a href="{{ url }}{{ all }}">
                                {{ bb.title }}
                            </a>
                        </h3>
                        <div>{{ bb.content }}</div>
                        <p class="tezt-right forn-weight-bold">{{ bb.price }} руб.</p>
                        <p class="text-right forn-italic">{{ bb.crated_at }}</p>
                    </div>
                </li>
            {% endfor %} 
        </ul>
        {% bootstrap_pagination page url=keyword %} 
    {% endif %} 
{% endblock content %}
    
    