{% extends 'layout/base.html' %}
{% load bootstrap4 %}
{% block title %}
    Изменение личных данных пользователя
{% endblock title %}
{% block content %}
    <h2> Изменение личных данных пользователя {{ user.username }}</h2>
        <form action="" method="POST">
        {% csrf_token %} 
        {% bootstrap_form form layout='horizontal' %} 
        {% buttons submit='Сохранить изменения' %}{% endbuttons %}
        </form>
{% endblock content %}
    
    