{% extends 'layout/base.html' %}
{% load bootstrap4 %}

{% block title %}
    Удаление пользователя
{% endblock title %}

{% block content %}
    <h2>Удаление пользователя {{ object.username }}</h2>
    <form action="" method="post">
        {% csrf_token %}
        {% buttons submit='Удалить' %}{% endbuttons %}
    </form>
{% endblock content %}
    
    