{% extends 'layout/base.html' %}

{% block title %}
    {{ bb.title }} - {{ bb.rubric.name }}
{% endblock title %}

{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            {% if bb.image %} 
                <div class="col-md-auto">
                    <img src="{{ bb.image.url }}" alt="" class="main-image">
                </div>
            {% endif %} 
            <div class="col">
                <h2>{{ bb.title }}</h2>
                <p>{{ bb.content }}</p>
                <p class="font-weight-bold">{{ bb.price }} руб.</p>
                <p>{{ bb.contacts }}</p>
                <p class="text-right font-italic">Добавлено {{ bb.created_at }}</p>
            </div>
        </div>
    </div>
    {% if ais %} 
    <div class="d-flex justify-content-between flex-wrap mt-5">
        {% for ai in ais %} 
            <div>
                <img src="{{ ai.image.url }}" alt="" class="additional-image">
            </div>
        {% endfor %} 
    </div>
    {% endif %} 
    <p><a href="{% url 'main:by_rubric' pk=bb.rubric.pk %}{{ all }}">Назад</a></p>
{% endblock content %}
    
    