{% extends 'layout/base.html' %}
{% load bootstrap4 %}
{% block title %}
    Вход
{% endblock title %}

{% block content %}
    <h2>Вход на сайт</h2>
    
    {% if user.is_authenticated %}
        <p>Вы уже вошли</p>
    {% else %}
        <form action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %} 
            <input type="hidden" name="next" value="{{ next }}">
            {% buttons submit='Войти' %} {% endbuttons %} 
        </form>
        
    {% endif %}
        
{% endblock content %}
    
    