{% extends 'layout/base.html' %}
{% load bootstrap4 %}

{% block title %}
    Смена пароля пользователя
{% endblock title %}

{% block content %}
    <h2>Страница смены пароля пользователя</h2>
    <form action="" method="POST">
        {% csrf_token %} 
        {% bootstrap_form form layout='horizontal' %} 
        {% buttons submit='Сменить пароль' %} {% endbuttons %}
    </form>
{% endblock content %}
    