{% extends 'layout/base.html' %}
{% load bootstrap4 %} 

{% block title %}
    Регистрация
{% endblock title %}

{% block content %}
    <h2>Регистрация нового пользователя</h2>
    <form method="POST">
        {% csrf_token %} 
        {% bootstrap_form form layout='horizontal' %} 
        {% buttons submit='Зарегистрироваться' %}{% endbuttons %} 
    </form>
{% endblock content %}
    
    