{% extends 'layout/base.html' %} 

{% block title %}
     Регистрация успешно завершена
{% endblock title %}

{% block content %}
    <h2>Регистрация</h2>
    <p>Регистрация успешно завершена</p>
    <p>На адрес электронной почты, указанный пользователем, отправлено сообщение активации</p>
{% endblock content %}
    
    