{% extends 'layout/base.html' %}

{% block title %}
    Пользователь активирован ранее
{% endblock title %}

{% block content %}
    <h2> Активация</h2>
    <p>Пользователь с таким именем активирован ранее</p>
    <p><a href="{% url 'main:login' %}">Войти на сайт</a></p>
{% endblock content %}
    